<!-- # Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
 -->

In [3]:
# Q1. Create one variable containing following type of data:
# (i) string

a = "STRING"
print("STRING :",a)

# (ii) list

l = [2,3,4,5,"List"]
print("LIST :",l)

# (iii) float

f = 3.14
print("THE FLOAT :",f)

# (iv) tuple

t = (4,5,6,7,8)
print("THE TUPLE :",t)

STRING : STRING
LIST : [2, 3, 4, 5, 'List']
THE FLOAT : 3.14
THE TUPLE : (4, 5, 6, 7, 8)

In [7]:
# Q2. Given are some following variables containing data:
# What will be the data type of the above given variable.

var1 = ' '
print(type(var1))

var2 = '[ DS , ML , Python]'
print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [8]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# THIS IS AN DEVISION OPERATOR 
print(9/3)

# (ii) %
# THIS IS MODULES WHICH GIVES US THE REMINDER
print(10%3)

# (iii) //
# THIS IS KNOWN AS THE FLOOR DEVISION OPERATOR AND IT IS USED FOR GETTING ROUNDED RESULTS TO THE NEARESE INTEGER
print(10//3)

# (iv) **
# THIS IS THE POWER OPERATOR
print(2**3)

3.0
1
3
8

In [11]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

l = [1,2,3,"str",'py',1.2,4,5,6,0]

print("THE ELEMENTS AND ITS DATA TYPES ARE AS FOLLOWS \n")
for i in l :
    print(i,type(i))

THE ELEMENTS AND ITS DATA TYPES ARE AS FOLLOWS

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
str <class 'str'>
py <class 'str'>
1.2 <class 'float'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
0 <class 'int'>

In [12]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

a = int(input())
b = int(input())

count = 0

while a%b == 0:
    count += 0
    a//b
else :
    print(f"{a} is not purely divisible by {b}")

print(f"{a} was divisible by {b} {count} times.")

6
4
6 is not purely divisible by 4
6 was divisible by 4 0 times.

In [13]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

l = [2,4,34,56,78,98,54,2,45,7,5,75,8,43,4,52,45,75,83,43,86,98,94,92,54]

for i in l : 
    if i%3 == 0 :
        print(i,'IS DEVISIBLE BY 3')
    else:
        print(i,'IS NOT DEVISIBLE BY 3')

2 IS NOT DEVISIBLE BY 3
4 IS NOT DEVISIBLE BY 3
34 IS NOT DEVISIBLE BY 3
56 IS NOT DEVISIBLE BY 3
78 IS DEVISIBLE BY 3
98 IS NOT DEVISIBLE BY 3
54 IS DEVISIBLE BY 3
2 IS NOT DEVISIBLE BY 3
45 IS DEVISIBLE BY 3
7 IS NOT DEVISIBLE BY 3
5 IS NOT DEVISIBLE BY 3
75 IS DEVISIBLE BY 3
8 IS NOT DEVISIBLE BY 3
43 IS NOT DEVISIBLE BY 3
4 IS NOT DEVISIBLE BY 3
52 IS NOT DEVISIBLE BY 3
45 IS DEVISIBLE BY 3
75 IS DEVISIBLE BY 3
83 IS NOT DEVISIBLE BY 3
43 IS NOT DEVISIBLE BY 3
86 IS NOT DEVISIBLE BY 3
98 IS NOT DEVISIBLE BY 3
94 IS NOT DEVISIBLE BY 3
92 IS NOT DEVISIBLE BY 3
54 IS DEVISIBLE BY 3

In [14]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# MUTABLE

# IN CASE OF THE MUTABLE DATA TYPES IN SIMPLE LANGUAGE WE CAN SAY THE CHANGEBLE DATA TYPES 

l = [3,5,6]

# IMMUTABLE 

# WE CANNOT PERFORM ANY CHANGEBLE OPERATION ON THIS TYPE OF DATA TYPES

t = (2,3,4)